@import url("//fonts.googleapis.com/css?family=Open+Sans");

.App {
  text-align: center;
  margin: 72px;
  background: #FFFFFF;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.searchResults{
  width: 500px;
  display: inline-block;
}

